**.DS_Store

## IntelliJ files
.idea/

## Build files
target/

## Java class files
*.class

## Google credentials
**/.credentials/

## Properties files
**/resources/*.properties
**/resources/*.json
!**/resources/log4j.properties